body{
    margin: 0px;
    font-family: sans-serif;
}

.btn-conatiner{
    margin-top: 15px;
}

.button-back{
    background-color: #0084FF;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    background-color: #313945;
}

.title{
    padding: 10px 0px;
    width: 100%;
    text-align: center;
    font-weight: 600;
    display: flex;
}

.title p{
    color: white;
}

.title a{
    padding: 5px;
}

.title-text{
    flex: 1;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.question{
    flex: 1;
    padding: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.answers{
    flex: 1;
    padding: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

p{
    padding: 0px;
    margin: 0px;
    color: #464646;
}

button{
    padding: 15px;
    font-size: 20px;
    margin: 0px 15px 0px 15px;
    background-color: #666a71;
    color: white;
    border-radius: 6px;
    border: none;
}

button:active{
    background-color: #38393a;
}

.privacy p{
    text-align: center;
    color: gray;
    font-size: 8px;
    padding: 2px;
}

.privacy a{
    color: gray;
}

.privacy-complete{
    padding: 6px;
    font-size: 12px;
}
